.DS_Store
.idea
.npmignore
node_modules
src

### Bower ###
.bower-cache
.bower-registry
.bower-tmp

### Node ###
npm-debug.log

### Composer ###
*/composer.lock

### https://github.com/github/gitignore/blob/master/CodeIgniter.gitignore ###
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*/logs/

## Source map files (local gulp tasks will still produce .map for debug use) ###
*.map

### SQL backup files ###
sql/backup/*
sql/backup/!index.html
sql

###CodeIgniter###

### documentation ###
screenshots

### test stuff ###
webpack.config.js
test.js
script-compiled.js
App.jsx
blank.php
index.js
main.js
